.pagina-estrutura-de-governanca
    .banner-interna
        margin-bottom 50px

        figure 
            img
                background url('../images/estrutura/banner.jpg') no-repeat center top fixed

                @media(max-width 960px)
                    background url('../images/estrutura/banner.jpg') no-repeat center top
                    background-size cover

        h1
            color #B884E5

.bolinhas-info
    text-align: center
    margin-bottom: 30px

    @media(min-width 960px)
        display: flex
        justify-content: center
        align-items: center

    .bolinhas-info-item
        width: 230px
        height 230px
        border-radius: 50%
        background: colorPurple
        margin: 0 20px
        display: flex
        justify-content: center
        align-items: center
        color #fff
        font-family: "Roboto Bold"
        font-size: 20px

        &.bolinhas-info-item-1
            background: colorGreen

        &.bolinhas-info-item-3
            background: colorPink

        @media(max-width 960px)
            margin: 0 auto 20px auto
        

.governanca-section
    border 1px solid colorGreen
    border-radius 15px
    padding: 0 20px 20px 20px
    text-align: center
    margin-bottom: 50px

    @media(max-width 960px)
        margin-top: 60px


    h2
        background: colorGreen
        color #FFF
        font-size 35px
        display: inline-block
        padding: 15px 40px
        border-radius 15px
        position relative
        top -40px
        margin-bottom: 0

        @media(max-width 960px)
            font-size: 20px
            padding: 15px


    .governanca-box
        display: none

    .btn-default
        position relative
        padding: 10px 40px 10px 30px
        top -20px

        &:after
            content ''
            height 20px
            width 20px
            position absolute
            right 5%
            top calc(50% - 10px)
            background url('../images/seta-dupla.svg') no-repeat center
            background-size contain

    &.open
        .governanca-box
            display: block

        .btn-default

            &:after
                transform: rotate(180deg)


