.pagina-estrategia-vivo-sustentavel
    .banner-interna
        figure 
            img
                background url('../images/estrategia-vivo-sustentavel/banner.jpg') no-repeat center top fixed

                @media(max-width 960px)
                    background url('../images/estrategia-vivo-sustentavel/banner.jpg') no-repeat center top
                    background-size cover


