.pagina-estudo-de-materialidade
    .banner-interna
        margin-bottom 40px

        figure 
            img
                background url('../images/estudo-de-materialidade/banner.jpg') no-repeat center center fixed

                @media(max-width 960px)
                    background url('../images/estudo-de-materialidade/banner.jpg') no-repeat center top
                    background-size cover


.temas-mariais-icons


    .temas-mariais-row
        @media(min-width 961px)
            display flex

        .temas-mariais-item
            position relative

            @media(min-width 961px)
                width calc(25% - 40px)
                margin 0 20px

            @media(max-width 961px)
                margin-bottom: 40px

            figure 
                width 170px
                height 170px
                border 2px solid colorPurple
                display flex
                align-items center
                justify-content: center
                border-radius 50%
                margin 0 auto
                z-index 9
                background: #FFF
                position relative

                img
                    width 120px

            .temas-mariais-box
                background #E2970A
                color #FFF
                height: 400px
                border-radius 20px
                padding 100px 20px 20px 20px
                text-align center
                display flex
                align-items center
                justify-content: center
                z-index 8
                position relative
                margin-top: -80px

                &:before
                    height: 100%
                    width: 100%
                    right -8px
                    top -8px
                    border-radius 20px
                    border 2px solid #E2970A
                    content ''
                    position absolute
                    z-index 7

            &.temas-mariais-item-2
                .temas-mariais-box
                    background colorPink

                    &:before
                        border 2px solid colorPink

            &.temas-mariais-item-3
                .temas-mariais-box
                    background colorPurple

                    &:before
                        border 2px solid colorPurple

            &.temas-mariais-item-4
                .temas-mariais-box
                    background colorGreen

                    &:before
                        border 2px solid colorGreen

            &.temas-mariais-item-4
                figure
                    img 
                        width 150px

.contribuicao-progresso
    margin-top: 60px

    @media(min-width 961px)
        display: flex
        align-items: center

        .contribuicao-progresso-titulo
            width: 20%

        .contribuicao-progresso-texto
            width: 80%

.processo-info-section
    margin-top: 50px

    .processo-info-row
        @media(min-width 961px)
            display flex
        
        .processo-info-item
            @media(min-width 961px)
                width 33.3333%
                text-align center

            @media(max-width 961px)
                margin-bottom: 40px

            figure
                margin-bottom: 30px
                text-align: center

                img
                    height: 100px

            .processo-info-cicircle
                width 170px
                height 170px
                border 5px solid colorGreen
                display flex
                align-items center
                justify-content: center
                border-radius 50%
                margin 0 auto
                z-index 9
                background: #FFF
                position relative
                margin-bottom: 20px

                p
                    height: 130px
                    width: 130px
                    display flex
                    align-items center
                    justify-content: center
                    border-radius 50%
                    background: colorGreen
                    margin 0
                    color #FFF
                    font-size 80px
        
            .processo-info-card
                background: colorGreen
                color #FFF
                width: 200px
                margin 0 auto 10px auto
                font-size: 18px
                padding: 5px 10px
                border-radius 8px

            &.processo-info-item-2  
                .processo-info-card
                    background: colorPink

                .processo-info-cicircle
                    border 5px solid colorPink

                    p
                        background: colorPink

             &.processo-info-item-3 
                .processo-info-card
                    background: colorPurple

                .processo-info-cicircle
                    border 5px solid colorPurple

                    p
                        background: colorPurple


.btns-materialidade
    .btn-default
        border-radius: 20px
        padding: 16px 20px
        font-size: 20px
        line-height: 1.1em
        width 100%
        width: 250px
        height: 100%
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto

    .double-line
        border 2px solid
        display: inline-block
        padding: 3px
        background: #FFF
        border-radius: 24px

        .btn-default
            font-weight: bold

        &.double-line-btn-orange
            border: 2px solid #EE9D39

        &.double-line-btn-pink
            border: 2px solid colorPink

    .col-6
        margin-bottom: 30px


.numeric-text
    display: flex
    
    .number
        font-family: "Roboto Bold";
        font-size: 25px
        color colorPurple
        margin-right: 10px
    a
        text-decoration: underline
        
        &:hover
            text-decoration: none
