.pagina-gestao-de-risco
    .banner-interna
        @media(min-width 961px)
            margin-bottom 20px

        figure 
            img
                background url('../images/gestao-de-riscos/banner.png') no-repeat center top fixed

                @media(max-width 960px)
                    background url('../images/gestao-de-riscos/banner.png') no-repeat center top
                    background-size cover


.numbers-section
    text-align center
    margin-bottom 40px

    .numbers-section-row
        display flex
        flex-wrap wrap


    .numbers-circle-box
        border 1px solid colorGreen
        color colorGreen
        display flex
        align-items center
        justify-content center
        border-radius 50%
        margin 0 auto
        font-family:"ITC Officina Bold";
        position relative 

        

    h2
        font-size 20px

    .big-number
        max-width 600px
        margin 0 auto 60px auto

        @media(max-width 960px)
            margin-bottom 0

        .numbers-section-row
            align-items center

        .numbers-circle-box
            width 250px
            height 250px
            font-size 100px

            @media(max-width 960px)
                margin-bottom 10px

        .numbers-text-box
            width calc(100% - 250px)
            padding-left 30px

            @media(max-width 960px)
                width 100%
                padding 0


    .small-number
        h3
            margin-bottom: 20px
            color #5C5C5C
            font-weight: bold
            font-size: 20px

        .numbers-section-item
            width 33.3333%

            .numbers-circle-box
                width 130px
                height 130px
                font-size 70px
                line-height 50px
                position relative
                margin-bottom 20px

                &:before
                    content ''
                    height 60px
                    width 60px
                    border-radius 50%
                    position absolute
                    top -50px
                    left 0
                    right 0
                    margin 0 auto
                    background #FFF


            @media(max-width 960px)
                width 100%
                padding-top 50px

        
            &.riscos-ambientais
                .numbers-circle-box:before
                    background #FFF url('../images/gestao-de-riscos/icon-riscos-ambientais.png') no-repeat center 
                    background-size contain


            &.riscos-sociais
                .numbers-circle-box:before
                    background #FFF url('../images/gestao-de-riscos/icon-riscos-sociais.png') no-repeat center 
                    background-size contain

            &.riscos-reputacionais
                .numbers-circle-box:before
                    background #FFF url('../images/gestao-de-riscos/icon-riscos-reputacionais.png') no-repeat center 
                    background-size contain


