.pagina-home
    .menu-lang 
    
        @media(min-width 961px)
            top 60px

            a
                color #FFF


.banner-carousel
    overflow hidden
    margin 0 auto
    width: 100%

    .owl-nav
        display none

    .owl-item 
        overflow hidden
    
    .container
        background #650F99
        border-radius 20px
        padding-top 40px

    h2
        padding-left 50px
        background #A5C950
        display inline-block
        position relative
        height 65px
        border-radius: 0 30px 30px 0;
        padding-right: 50px;
        margin-bottom 20px
        font-size: 30px
        color #FFF
        font-family:"ITC Officina Book";
        font-weight: normal
        line-height: 65px

        @media(max-width 960px)
            height: inherit
            line-height: 1.1em
            padding-top:10px 
            padding-bottom:10px 
            margin-bottom: 0
            padding-left: 20px

        &:before
            
            content ''
            width 100%
            height 65px
            left -100%
            top 0
            position absolute
            background #A5C950

            @media(max-width 960px)
                height: 100%
                left: -99%

    .banner-info
        @media(max-width 960px)
            width 100%
            padding-top 30px

        a
            color #ffffff
            text-decoration none

        @media(max-width 960px)
            margin 0
            width 100%
            border-radius 0

        h3
            padding-left 50px
            color #FFF
            font-size 23px
            margin-bottom 10px
            font-weight: normal

            @media(max-width 960px)
                padding  0 30px
                text-align center

        p.text-banner
            padding-left 50px
            color #FFF
            font-size: 16px

            @media(max-width 960px)
                padding 0 30px
                text-align center
    
    .banner-home-icons
        padding: 0 30px 20px 50px

        .banner-home-itens
            padding: 0 10px

            a
                display: block
                transition 0.3s ease opacity

                &:hover
                    opacity 0.7