.pagina-indicadores
    .banner-interna
        margin-bottom 40px

        figure 
            img
                background url('../images/indicadores/banner.jpg') no-repeat center center fixed

                @media(max-width 960px)
                    background url('../images/indicadores/banner.jpg') no-repeat center top
                    background-size cover

.indicadores-menu-section

    @media(min-width 961px)
        display: flex

    .indicadores-menu
        list-style none

        @media(min-width 961px)
            display: flex
            flex-wrap wrap
            align-items: center
    li
        margin: 0 10px

        @media(max-width 960px)
            margin: 20px 0 0 0

    .btn-default
        
        font-family: "Roboto Bold"
        text-transform: uppercase

        @media(min-width 961px)
            padding: 20px

        @media(max-width 960px)
            width: 100%



.imgs-ods-table
    display: flex
    margin-left: 20px
    flex-wrap: wrap
    
    @media(min-width 960px)
        justify-content: center

    @media(max-width 960px)
        margin-left: 0

    img
        max-width: 50px
        margin: 5px
        display: inline-block

        @media(max-width 960px)
            max-width: 30px