.pagina-relatorio-anual-de-sustentabilidade
    .banner-interna
        figure 
            img
                background url('../images/relatorio-anual-de-sustentabilidade/banner.jpg') no-repeat center top fixed

                @media(max-width 960px)
                    background url('../images/relatorio-anual-de-sustentabilidade/banner.jpg') no-repeat center top
                    background-size cover

    .info-cards-section
        margin-bottom 30px



.relatorios-download
    max-width 1024px
    margin 60px auto 30px auto

    
    .relatorios-download-text
        p
            margin-bottom 10px

        h3
            font-size 25px
            color #000

    .relatorios-download-select
        float right

        .dropdown
            max-width 350px
            border 1px solid colorGreen
            background colorGreen
            padding 15px
            border-radius 40px


            @media(min-width 960px)
                float right

            .select
                background #FFF
                padding 10px
                border-radius 40px

            .select__items
                background colorGreen
                top 63px
                width 80%
                right 0
                margin 0 auto

                a
                    color #FFF

                    &:hover
                        background #ffffff
                        color #000