colorPurple = #5C1C93;
colorGreen = #A5C950;
colorPink = #D74D7C;
colorLightPink = #E66D96;
colorGray = #5C5C5C;
colorOrange = #F09D39;
colorBlue = #2B65C5;


@font-face{
    font-family:"ITC Officina Book";
    src:url("../fonts/OfficinaSerifStd-Book.woff2") format("woff2"),
        url("../fonts/OfficinaSerifStd-Book.woff") format("woff");
        font-weight:400;
        font-style:normal
}
@font-face{
    font-family:"ITC Officina Bold";
    src:url("../fonts/OfficinaSerifStd-Bold.woff2") format("woff2"),
        url("../fonts/OfficinaSerifStd-Bold.woff") format("woff");
        font-weight:700;
        font-style:normal
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), 
    url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), 
    url("../fonts/roboto/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    padding 0
    margin 0


body
    font-family "Roboto"
    color colorGray
    overflow-x hidden

sup
    left 0
    margin-right 0

img
    max-width 100%

h1
    font-size 2.2em

h2
    font-size 2.2em
    font-weight: normal
    line-height: 1.2em

hr
    border-top 2px solid colorPurple

.container
    max-width 1200px
    margin 0 auto

.container-small   
    max-width 960px
    margin 0 auto

    @media(max-width 960px)
        padding 0 15px

p
    font-size 18px
    margin-bottom 20px
    line-height 1.3em

.list-deafult
    margin-bottom 20px
    
    li
        font-size 18px
        line-height 1.3em

a
    &:hover
        color inherit
.space-
	&h-
		&10
			padding 10px 0
		&20
			padding 20px 0
		&30
			padding 30px 0
		&40
			padding 40px 0
		&50
			padding 50px 0
	&v-
		&10
			padding 0 10px
		&20
			padding 0 20px
		&30
			padding 0 30px
		&40
			padding 0 40px
		&50
			padding 0 50px
.space-h-5
    padding 5px 0

@media(min-width 960px)

    .desktop-container
        max-width 1200px
        margin 0 auto

.btn-
	&default
        display inline-block
        text-align center
        font-size 16px
        color #FFF
        border-radius 30px
        border 1px solid colorPurple
        background colorPurple
        padding 10px 50px
        cursor pointer
        transition 0.3s ease background
        line-height 16px

        &:hover
            background #FFF
            color colorPurple
            text-decoration none

    &green
        background colorGreen
        border 1px solid colorGreen

        &:hover
            color colorGreen
            background #FFF

    &pink
        background colorPink
        border 1px solid colorPink

        &:hover
            color colorPink
            background #FFF

    &pink-light
        background colorLightPink
        border 1px solid colorLightPink

        &:hover
            color colorLightPink
            background #FFF

    &orange
        background: #ED9E38
        border 1px solid #ED9E38

        &:hover
            background: #fff
            color #ED9E38

    &border-less
        border-radius 10px
    
    &big
        padding: 15px 30px
        font-size: 30px

    &pdf
        position relative
        padding: 10px 40px 10px 30px

        &:after
            content ''
            height 20px
            width 20px
            position absolute
            right 5%
            top calc(50% - 10px)
            background url('../images/pdf-icon.svg') no-repeat center
            background-size contain

    &border
        background: #fff
        color colorPurple

        &:hover
            background: colorPurple
            color #FFF

.header-1
    font-size 30px
    margin-bottom 30px
    font-weight: bold


body.compact
    @media(max-width 960px)
        .btn-back
            top 133px

#header 
    padding-top 30px
    .logo
        max-width: 150px
        margin 0 auto
        display: block

    @media(max-width 960px)
        padding-top 50px


//Botão do menu mobile
button.menu-mobile
	position absolute
	background transparent
	width 40px
	height 40px
	right 16px
	top 20px
	cursor pointer
	text-align center

	div
		background #FFF
		width 100%
		height 6px
		margin 7px auto 0 auto
		border-radius 9px
		transition ease-in-out .12s
		&:nth-child(2)
			width 100%
		&:nth-child(3)
			margin-top -6px
			width 100%
		&:nth-child(4)
			width 100%
		&:first-child
			margin 0

	&.navOpen
		z-index 99999

		div
			width 100%
			margin 0
			transition ease-in-out .3s
			&:nth-child(1),
			&:nth-child(4)
				background transparent
			&:nth-child(2)
				transform rotate(45deg)
			&:nth-child(3)
				margin-top -5px
				transform rotate(-45deg)


button.menu-mobile.navOpen
    position fixed
    top 40px

.menu-lang
    position absolute
    max-width 1200px
    margin 0 auto
    right 0
    top 115px
    z-index 99
    font-family:"ITC Officina Book";
    display: none

    @media(min-width 961px)
        width 200px
        float right

    @media(max-width 960px)
        top 10px

    ul
        display flex
        list-style none
        justify-content end
        margin-right 110px

        @media(max-width 960px)
            margin-right 20px
        
    li
        margin-left 30px
        display flex
        align-items center
        position relative
        z-index 999

    a
        color colorPurple
        display flex
        height 30px
        width 30px
        border-radius 50%
        align-items center
        justify-content center
        transition 0.2s ease background

        &.active, &:hover
            background colorGreen
            text-decoration none

.breadcrumb
    position relative
    font-family:"ITC Officina Book";

    ul
        display flex
        list-style none
        margin 35px 0

    li
        margin-right 6px
        color colorPurple

    a
        color colorGray

        &:hover
            text-decoration none
            color colorPurple
            
.owl-carousel 
    padding-bottom 40px
    .owl-item 
        img
            width inherit

    @media(max-width 960px)
        width calc(100% - 40px)
        margin 0 auto

    //Bullets do carrossel    
    .owl-dots
        text-align center
        position absolute
        left 0
        right 0
        margin auto
        bottom 0

        .owl-dot 
            display inline-block
            zoom 1
            border 1px solid #650F99
            width 12px
            height 12px
            text-align center
            border-radius 50%
            position relative
            margin 0 4px
            *display inline
            
            span
                left 0
                right 0
                top 0
                bottom 0
                margin auto
                position absolute
                width 8px
                height 8px;
                display block
                transition opacity 200ms ease
                border-radius 30px
                border-radius 30px
                background #FFF

            &.active
                background #650F99
                width 40px
                border-radius 13px 

                span
                    background #650F99

                &:hover
                    span
                        background #650F99

            &:hover
                span
                    background #650F99


    .owl-nav
        position absolute
        width 100%
        top calc(50% - 40px)
        right 0
        left 0
        max-width 1200px
        margin auto
        & > div
            position absolute
            display inline-block

        div
            position absolute
            height 50px
            width 50px
            border-radius 50%
            color #ffffff
            font-size 0
            background colorGreen url('../images/seta.svg') no-repeat center
            background-size 15px


        .owl-prev
            left -5%

        .owl-next
            right -5%
            transform rotate(180deg)


.text-center
    text-align center

.text-pink
    color colorPink !important

.text-purple
    color colorPurple !important

.text-green
    color colorGreen !important

.text-yellow
    color #FFC400

.text-upper
    text-transform: uppercase

.text-bold
    font-weight: bold

.no-brak-word
    @media(max-width 960px)
        br
            display: none

.info-card
    text-align center

    @media(max-width 960px)
        margin-bottom 40px

    figure 
        height 100px

        img
            height 100%

    .info-card-box
        border 1px solid
        margin-top 15px
        border-radius 18px
        position relative

    h2
        background #000
        color #FFF
        padding 20px
        border-radius 15px
        font-weight normal
        font-size 20px
    
    p
        margin 0
        padding 20px 30px 30px 30px
        min-height 180px
        display flex
        align-items center
        font-size: 19px

    .btn-info-card
        position absolute
        bottom -15px
        width 100%

    
    &.info-card-1
        h2
            background colorPink

        .info-card-box
            border-color colorPink

    &.info-card-2
        h2
            background colorPurple

        .info-card-box
            border-color colorPurple

    &.info-card-3
        h2
            background colorGreen

        .info-card-box
            border-color colorGreen


.col-cards
    display flex



.dropdown
    width 98%
    border-radius 5px
    position relative

    .select
        position relative
        background #FFF
        color #6F7070
        padding 15px
        cursor pointer
        border-radius 13px
        font-family:"ITC Officina Book";

        span
            color #6F7070
            font-size: 18px

        &::after
            position absolute
            right: 20px
            top: calc(50% - 5px)
            content ""
            width 14px
            height 7px
            background url('../images/select-arow.svg') no-repeat
            transition all 0.25s ease
            background-size contain

        &__items
            display: none
            flex-direction: column
            width 100%
            height 200px
            overflow-y scroll
            top 42px
            left: 0
            padding-top 5px
            background white
            position absolute
            border-top none
            border-radius 0 0 5px 5px
            z-index 2

            a
                text-decoration none
                color colorGray
                display flex
                align-items center
                padding 15px
                gap 10px

                span
                    font-size rem(18px)

                &:hover
                    background #CCC
                    color #FFF

        &__items.visible
            display flex


.selects-section
    margin-top 50px
    z-index: 10

    @media(max-width 960px)
        margin-top 20px

    .selects-box
        display flex
        flex-wrap wrap
        background colorPurple
        border-radius 18px
        align-items center

        @media(max-width 960px)
            margin-bottom 30px

        p
            color #FFF
            margin 0

            @media(max-width 960px)
                margin-bottom 20px


        h2
            color #FFF
            margin-bottom: 10px

        .selects-box-text
            width 50%
            padding 0 30px
            padding-left: 60px

            @media(max-width 960px)
                width 100%
                padding-top 20px

                br
                    display: none

        .selects-box-select
            width 50%
            height 100%
            padding 60px 20px
            border-radius 16px

            @media(max-width 960px)
                width 100%
                padding 30px 20px


        &.selects-box-1

            .selects-box-select
                background colorPink

        &.selects-box-2
            .selects-box-select
                background colorGreen


.cards-estudos-section
    margin-top 60px

    &.cards-estudos-section-home
        p
            margin 0

            @media(min-width 960px)
                padding-left: 30px

    @media(max-width 960px)
        margin-top 20px

    .card-estudos-box
        height: 100%
        background #000
        position relative
        border-radius 20px
        overflow hidden
        

        @media(max-width 960px)
            margin-bottom 30px
            
        // .card-estudos-box-info-1
        //     background url('../images/img01.png') no-repeat
        //     background-size cover

        // .card-estudos-box-info-2
        //     background url('../images/img02.png') no-repeat
        //     background-size cover


        .card-estudos-box-info
            color #FFF
            display flex
            flex-wrap wrap
            align-items center
            padding 30px


            .card-estudos-box-text
                @media(max-width 960px)
                    width 100%
                    text-align center

                    br
                        display: none

            .row
                align-items: center

            p
                margin 0

            h2
                color #FFF

                @media(max-width 960px)
                    margin-bottom 10px

                    br
                        display none

            .card-estudos-box-btn
                text-align center

                @media(max-width 960px)
                    width 100%
                    text-align center

.reconhecimentos-section
    text-align center
    margin-top 50px

    @media(max-width 960px)
        margin-top 10px

    h2
        color colorPink
        font-size 35px
        margin-bottom: 20px

    p
        margin-bottom: 30px

    .owl-item
        margin-top 17px
        .item
            border 1px solid colorPurple
            border-radius 20px
            padding 30px 50px
            margin-top 20px

            &:hover
                border 1px solid #FFF

            figure 
                background: #FFF
                border-radius 20px
        
            img 
                display inline-block

        &.active.center
            margin-top 0

            .item
                background #650F99
                box-shadow inset 0 0 10em #C092DD
                padding 50px
                border 1px solid #FFF

.sitemap
    margin: 20px 0

    ul
        list-style none

        li
            font-size: 12px
            font-weight: bold
            margin-bottom: 10px

        a
            color: #393939


.footer
    background colorPurple
    color #ffffff
    padding 40px 0
    margin-top 20px
    padding-bottom 0
    font-family:"ITC Officina Book";
    

    .subfooter
        background #ffffff
        
        padding 20px 0
        margin-top 40px

        .container
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            &:before, &:after
                display: none

        img.logo-sustentavel
            height 30px

        img.logo-telefonica
            height 40px

    .container-footer
        @media(min-width 961px)
            display flex
            justify-content: space-between;

    a
        color #FFF
    
    p
        margin 0

    .nav-footer
        ul
            padding 0
            margin 0

            @media(min-width 961px)
                display flex

        li
            margin-left 30px
            font-size 17px

            @media(max-width 960px)
                margin-bottom 10px

        a
            position relative
            display inline-block

            &:before
                content ''
                height 2px
                width 90%
                background #FFF
                position absolute
                bottom 0
                left 0

            &.recicle
                &:before
                    background colorPink

            &.ecorating
                &:before
                    background colorOrange

            &.dialogando
                &:before
                    background #FFF

            &.ri-telefonica
                &:before
                    background colorGreen

            &:hover
                text-decoration none

                &:before
                    background #FFF


    .left-footer
        @media(min-width 961px)
            display flex

        @media(max-width 960px)
            text-align center
            margin-top 30px

        .socials
            @media(min-width 961px)
                display flex
                margin-left 30px

        ul
            display flex
            list-style none

            @media(max-width 960px)
                justify-content center
                margin-top 20px

            li
                margin-left 20px

                @media(max-width 960px)
                    margin 0 10px


.banner-interna
    background #000
    position relative

    @media(max-width 960px)
        background #ffffff
        color colorGray

    .banner-interna-content
        position absolute
        top 0
        left 0
        width 100%
        height: 100%
        display: flex
        align-items: center

        @media(max-width 960px)
            position inherit

    figure 
        img
            background-size cover
            opacity 0.4

            @media(max-width 960px)
                opacity 1


    .banner-interna-text
        width 60%
        color #FFF

        @media(max-width 960px)
            width 100%
            padding-top 0
            text-align center
            color colorGray

            br
                display: none

    .btn-banner
        ul
            list-style: none

        @media(max-width 960px)
            li
                margin-bottom: 15px
                text-align: center

        @media(min-width 960px)
            position: absolute
            bottom -20px
            width 100%

            ul
                display: flex

            li
                margin-left: 15px

    h1
        color #FFF
        font-family:"ITC Officina Book";
        font-weight: normal
        font-size 37px


        @media(max-width 960px)
            text-align center

    p
        line-height: 1.3em

.banner-2, .banner-3
    background: colorPurple
    color colorGreen
    padding: 50px 0
    font-family:"ITC Officina Book";

    h1
        font-size: 50px
        margin-bottom: 0

    h3
        font-size: 20px

    &.banner-3
        background: colorPink
        color #FFF

    &.banner-4
        background: colorPink
        color #FFF

.title-full
    background colorPurple
    display inline-block
    position relative
    color #FFF
    padding 20px 80px 20px 0
    border-radius 0 50px 50px 0

    @media(max-width 960px)
        font-size: 20px

    &:before
        content ''
        height 100%
        width 100%
        left -100%
        top 0
        position absolute
        background colorPurple

    &.title-full-right
        padding 20px 0 20px 80px
        border-radius 50px 0 0 50px
        text-align: left

        &:before
            left inherit
            top 0
            right: -100%


    &.title-full-pink
        background colorPink

        &:before    
            background colorPink

    &.title-full-green
        background colorGreen

        &:before    
            background colorGreen


.infografico-2
    font-family:"ITC Officina Book";

    .row
        align-items: center

    .infografico-2-text
        font-size: 20px
        padding: 20px

        &.infografico-2-text-left
            text-align: right

        &.infografico-2-text-right
            text-align: left
        

    .title-full
        width: 100%
        text-align: right
        font-family:"ITC Officina Book";
        overflow: hidden
        font-size: 90px
        line-height: 90px
        padding-right: 66px
        padding-bottom: 10px
        padding-top 10px
        border-radius 0 80px 80px 0


        img
            height: 65px
            position relative
            top -10px

        span
            font-size: 20px
            transform: rotate(90deg);
            display: inline-block;
            position absolute
            right 20px
    
        &.title-full-right
            text-align: left
            padding-left: 20px
            display: flex;
            align-items: center;
            border-radius 80px 0 0 80px
            
            span
                right inherit
                left -20px
                position relative

        &.title-full-small
            font-size: 20px
            line-height: 20px
            width: inherit
    
    .text-styles
        @media(min-width 960px)
            display: flex
            justify-content: center
            align-items: flex-end

    .aumento-text
        display: flex
        align-items: flex-end
        margin-left: 20px

        span
            display: inline-block

        .text-1
            color colorPink
            font-size: 20px
            line-height: 20px
            margin-bottom: 5px

        .text-2
            font-size: 90px
            display: block
            line-height: 60px
            color colorPurple

        .text-3
            color colorPink
            font-size: 20px
            line-height: 20px
            position relative
            left -15px
            

    .more-text
        display: flex
        align-items: center
        margin-right: 20px
        position: relative;
        top: 16px;

        span
            display: inline-block
            color colorPurple
            font-size: 20px

            &.text-1
                color colorPurple
                position relative
                top -20px
                font-size: 30px

            &.text-2
                font-size: 90px
                line-height: 90px
                margin-right: 10px

            &.text-3
                font-size: 30px
                line-height: 12px
                padding-top: 20px

            &.text-4
                color colorPink
                display: block
                line-height: 12px
            

.box-table-container
    margin-top 40px
    margin-bottom 70px

    @media(max-width 960px)
        margin-bottom: 0

    h3
        font-size 20px
        margin-bottom 15px


    .box-table
        .box-table-tr
            display flex
            border-radius 40px
            overflow hidden
            align-items center
            flex-wrap: wrap

            @media(max-width 960px)
                border-radius: 20px

            &.box-table-color
                background colorPurple
                color #FFF

            &.box-table-header
                background #ffffff

            .box-table-td
                width 33.3333%
                padding-top 15px
                padding-bottom 15px
                font-size 18px
                padding-left 30px

                @media(max-width 960px)
                    font-size: 14px

                &.box-table-td-head-mobile
                    display: none
                    

                    @media(max-width 960px)
                        display: flex
                        width: 100%

                        div
                            width 25%

                @media(max-width 960px)  
                    width: 100%
                    
                    &.box-table-td-first     
                        display: block
                        text-align: center
                        padding: 5px

                &.box-table-th
                    color #6F7070

                &.box-table-td-imgs
                    @media(min-width 961px)
                        display: flex
                        align-items: center


        &.box-table-big
            margin-bottom: 40px
            
            .box-table-tr
                background: #F0F0F0
                margin-bottom: 20px

                &.box-table-color
                    background colorPurple

                &.box-table-white
                    background: #FFF

                .box-table-th
                    @media(max-width 960px)  
                        display: none

                        &:first-child
                            display: block
                            width 100%


            .box-table-td
                width: 15%

                @media(max-width 960px)  
                    width: 25%
                    padding: 5px

                &:first-child
                    width 40%

                    @media(max-width 960px)  
                        width: 100%

        &.box-table-1
            .box-table-tr
                margin-bottom 10px
                background #D6D6D6
                color #414141

                &.box-table-color
                    background colorPurple
                    color #FFF

                    .box-table-td:last-child
                        background #550681


                &.box-table-header
                    background #ffffff

                    .box-table-td:last-child
                        background none
                        min-height inherit


                .box-table-td
                    width 50%

                    &:first-child
                        display flex
                        padding-left 10px
                        align-items center
                        padding-top 10px
                        padding-bottom 10px

                    &:last-child
                        padding-left 30px
                        padding-right 30px
                        background #B2B2B2
                        min-height 70px
                        border-radius 40px
                        display flex
                        align-items center
                    
                    figure 
                        width 50px
                        border-radius 50%
                        overflow hidden
                        margin-right 30px

        &.box-table-pink
            .box-table-tr
                &.box-table-color
                    background colorPink

                    .box-table-td:last-child
                        background #A83159

        &.box-table-green
            .box-table-tr
                &.box-table-color
                    background colorGreen

                    .box-table-td:last-child
                        background #8CAD3D
                    

    .box-table-final
        display flex
        font-size 40px
        justify-content space-evenly
        margin-top 30px
        color #464646

        @media(max-width 960px)
            font-size 26px

        div
            padding 0 10px

    &.box-table-container-special
        width 100%

        .box-table 
            .box-table-tr 
                .box-table-td
                    @media(max-width 960px)
                        width 33.333%
                        padding: 10px
                        display: flex
                        align-items: center
                        font-size: 12px

                        &.box-table-td-head-mobile
                            padding: 10px
                            width 100%
                            display: flex
                            align-items: center

                            div
                                width: 33.333%
                                font-size: 12px
                                display: flex
                                align-items: center
                            

.gallery-item
    position: relative;
    overflow: hidden;
    cursor pointer

.img-title
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity : 0;
    background: #650f99;
    border: 1px solid #fff;
    -webkit-box-shadow: inset 0 0 10em #c092dd;
    box-shadow: inset 0 0 10em #c092dd;
    padding: 20px 50px;
    left: 0;
    color: #FFF;
    border 1px solid #c092dd;
    transition: 0.3s ease opacity
    display: flex
    align-items: center

    &.open
        opacity 1

.ods-carousel
    max-width: 200px
    margin: 0 auto

    .owl-carousel 
        padding-bottom: 20px

        .owl-nav 
            .owl-prev
                left: -60px
            .owl-next
                right: -60px

        .owl-dots
            display: none


.politicals-links

    ul
        list-style none


        li
            margin-bottom: 20px


    .link
        color #650F99
        text-decoration: underline
        font-size: 18px


        &:hover
            text-decoration: none

    .politics-pannel
        display: none

        &.open
            display: block


.animation-element {
    position: relative;
    opacity: 0;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -webkit-transform: translate3d(0px, 100px, 0px);
    -moz-transform: translate3d(0px, 100px, 0px);
    -ms-transform: translate3d(0px, 100px, 0px);
    -o-transform: translate3d(0px, 100px, 0px)
}


.animation-element.in-view {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px)
}

.infografico-setas
    max-width: 700px
    margin 0 auto
    display: flex
    flex-wrap: wrap
    align-items: flex-end

    @media(max-width 960px)
        display: block

    .infografico-setas-text
        width 50%
        font-family "ITC Officina Book"
        display: flex
        flex-direction: column
        height: 100%
        padding: 35px 20px
        border-radius: 20px
        border 1px solid
        margin-bottom: 20px
        font-weight: bold

        @media(max-width 960px)
            width: 100%
        p
            font-size: 30px
            margin-bottom: 0

        &.infografico-setas-text-purple
            border-color colorPurple
            color colorPurple

        &.infografico-setas-text-pink
            border-color colorPink
            color colorPink

        &.infografico-setas-text-green
            border-color colorGreen
            color colorGreen

    .infografico-setas-img
        width: 50%
        display: flex
        height: 100%
        padding: 20px

        @media(max-width 960px)
            display: none

        &.infografico-setas-left
            justify-content: right

        &.infografico-setas-right
            justify-content: left


        img
            max-width 200px

.main-carrousel
    max-width 960px
    margin 0 auto

    .owl-carousel 
        .owl-nav 
            .owl-next
                right: -10%

            .owl-prev
                left: -10%
            
            
.gestao-section-box
    max-width: 960px
    margin 0 auto 60px auto

    .row
        justify-content: center

    &.gestao-section-number
        margin-top: 20px
        margin-bottom: 20px

        .col-12
            flex-direction: column;
            margin-bottom: 20PX

        .number
            height: 100px
            width: 100px
            border 2px solid colorGreen
            border-radius: 50%
            margin: 0 auto
            display: flex
            align-items: center
            justify-content: center
            background: #FFF
            font-family: "Roboto Bold"
            color colorGreen
            font-size: 50px
            position: relative
            z-index 1
            line-height: 100px

            &.number-2
                border 2px solid colorPurple
                color colorPurple

            &.number-3
                border 2px solid colorPink
                color colorPink

        p
            margin-bottom: 0

        .gestao-box
            border 2px solid colorGreen
            margin-top: -50px
            padding: 70px 20px
            display: flex
            height: 100%
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &.gestao-box-2
                border 2px solid colorPurple

            &.gestao-box-3
                border 2px solid colorPink

        &.gestao-section-alphabet

            .gestao-box
                margin-top 0
                padding: 30px 20px


    .gestao-box
        border 1px solid colorGreen
        border-radius 15px
        padding: 0 20px 20px 20px
        text-align: center

    h3
        display: inline-block
        background: colorGreen
        color #FFF
        padding: 15px 40px
        border-radius 16px
        font-weight normal
        font-size 20px
        position: relative
        top -30px

    .col-12
        display: flex
        margin-bottom: 60px
        padding-left 15px
        padding-right 15px



.tabela-direitos-humanos
    border-radius: 100px
    color #FFF

    .tabela-direitos-humanos-tr
        @media(min-width 901px)
            display: flex
            flex-wrap wrap
            align-items: center

        .tabela-direitos-humanos-td-icon
            @media(min-width 901px)
                width 130px
            
            figure
                padding: 20px
                text-align: center

                img
                    max-width: 100%
                    height 50px
                    margin: 0 auto
        
        .tabela-direitos-humanos-td-content
            border-radius: 80px
            padding: 20px

            @media(min-width 901px)
                width calc(100% - 130px)
                display: flex
                flex-wrap wrap
                align-items: center

            h3
                font-weight: normal
                padding: 20px

                @media(max-width 901px)
                    text-align: center

            .tabela-direitos-humanos-title
                @media(min-width 901px)
                    width: 130px

            .tabela-direitos-humanos-box
                background: #FFF
                color #000
                border-radius: 60px
                padding: 10px 30px

                @media(min-width 901px)
                    width calc(100% - 130px)

            .table-list
                display: flex
                flex-wrap wrap
                list-style none

                li
                    padding: 5px 0
                    width 20%
                    text-align: center

                    @media(max-width 901px)
                        width: 50%
                        text-align: left
                        padding-right 10px
                        padding-left 10px
                        padding-bottom: 10px

    &.tabela-direitos-humanos-1
        background: colorPurple

        .tabela-direitos-humanos-td-content
            background: #7038A0

    &.tabela-direitos-humanos-2
        background: #B53A64

        .tabela-direitos-humanos-td-content
            background: #D74D7C

            .table-list
                justify-content: space-between
                align-items: flex-end;

                li
                    width: inherit

    &.tabela-direitos-humanos-3
        background: #92AF4C

        .tabela-direitos-humanos-td-content
            background: #ABCC5B

            .table-list
                li
                    width 25%

                    @media(max-width 901px)
                        width: 50%
        
.modal-default
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    z-index 100
    width 100%
    background #EE9D39
    overflow-y auto
    padding-bottom 20px
    display none

    &.modal-1
        background: colorPink

        .close-modal
            background: colorPurple
            border-color: colorPurple

            &:hover
                color colorPurple

    &.modal-2
        background: colorGreen

    &.modal-3
        background: colorPurple

    
    &.modal-transparent
        background: rgba(0,0,0,0.6)

    .height-auto
        display flex
        align-items center
        height 100%
        position relative

    &.open-modal
        display block

        .modal-content 
            right 0

    .modal-content    
        padding 20px
        background #FFF
        width 90%
        left 0
        right 0
        margin 0 auto
        max-width 960px
        z-index 101
        border-radius 10px
        position absolute
        top 80px
        margin-bottom 20px

        &.modal-content-no-bg
            background: none
        
        &.tooltip
            background: rgba(215,77,124,0.8)
            max-width: 250px
            color #FFF
            padding: 20px
            font-size: 16px
            border-radius 10px
            margin: 0 auto
            left 0
            right: 0
            position relative

    &.modal-imgs-out
        .modal-content
            top 120px
            border-radius 50px
            padding-left 5%
            padding-right 5%

            .close-modal
                right 0
                top 0

    .modal-content-imgs-out
        position relative
        padding-top: 100px

        .img-modal
            position: absolute
            top -100px
            max-width: 200px
            margin 0 auto
            left 0
            right 0

        

    .close-modal
        height: 50px
        width 50px
        position: absolute
        border-radius 50%
        right: -25px
        top -25px
        display: flex
        align-items: center
        justify-content: center
        background: colorPink
        color #FFF
        cursor pointer
        border 1px solid colorPink
        font-family:"ITC Officina Book";
        font-size: 20px

        &:hover
            text-decoration none 
            background #FFF
            color colorPink


.tabs-total-container
    padding-bottom: 40px
    ul
        list-style-position: inside;


    .tabs-total-row
        display: flex
        flex-wrap wrap
        justify-content: space-between;

        .tabs-total-box
            width: 180px
            height: 180px
            background: colorGreen
            color #FFF
            display: flex
            text-align: center
            justify-content: center
            flex-direction: column
            align-items: center
            border-radius 50%
            position relative

            p
                margin-bottom: 0
                font-size 16px

            .tabs-total-box-number, .tabs-total-box-more
                height: 50px
                width 50px
                color #FFF
                background: colorPurple
                border: 1px solid colorPurple
                border-radius: 50%
                display: flex
                text-align: center
                justify-content: center
                line-height: 1em
                flex-direction: column
                align-items: center
                position absolute
                left 0
                font-size: 20px

                &.tabs-total-box-number
                    top 0


                &.tabs-total-box-more
                    bottom -25px
                    right 0
                    margin 0 auto
                    cursor pointer

                    &:hover
                        text-decoration: none
                        background: #fff
                        color colorPurple

                    &.active
                        z-index: 3

    .tabs-total-content
        position relative
        z-index 2
        display: none

        &.active
            display: block

        .green-pannel
            background: colorGreen
            color #FFF
            padding: 40px
            border-radius 20px
            margin-bottom: 20px

            h2
                font-size: 25px
                margin-bottom: 20px

            ul
                list-style-position: inside;

            li, p
                font-size: 16px;
                line-height: 1.3em;




.btns-estrategia
    display flex
    flex-wrap wrap

    .btns-estrategia-item
        @media(min-width 960px)
            width 33.3333%

        .btns-estrategia-content
            border 1px solid colorPurple
            border-radius 10px
            padding: 50px 20px 20px 20px
            margin-top -20px
            display: none

            &.open
                display: block

            p
                font-size: 16px
                margin-bottom: 15px

        &:first-child .btns-estrategia-content
            border 1px solid colorLightPink
        
        &:last-child .btns-estrategia-content
            border 1px solid colorPink
                
            

    .btn-default
        margin 0 20px

        @media(max-width 960px)
            width 100%
            margin 10px 0

    


.js-carousel-2
    .owl-dots
        display none


.section-vivo-sustentavel-carrossel
    padding 70px 0 0 0
    max-width 1024px
    margin 0 auto

    .vivo-sustentavel-content
        border 1px solid colorGreen
        padding 0 30px 30px 30px
        border-radius 15px
        padding-bottom: 180px

    h2
        text-align center
        position relative
        top -25px
        

        span
            display inline-block
            background colorGreen
            color #FFF
            padding 10px 30px
            border-radius 10px
            border 1px solid colorGreen
            cursor pointer

            &:hover
                
                background: #fff
                color colorGreen


    .js-carousel-2
    
        .item
            padding 20px 0 100px 0
            

            span 
                padding 10px 0
                color #707170
                border 1px solid #707170
                display block
                border-radius 10px
                text-align center
                cursor pointer
                font-size 18px
                position relative

                &:hover
                    border 1px solid colorPurple 
                    color colorPurple

        .center
            .item
                span 
                    border 1px solid colorPurple 
                    color colorPurple
                    font-size 22px
                    top -2px

        .owl-nav 
            .owl-prev
                left -10%

            .owl-next
                right -10%



    .js-carousel-1
        
        margin -180px auto 0 auto
        
        .owl-nav
            top -10%

            .owl-next
                right: -6%
            .owl-prev
                left: -6%

        .owl-dots
            bottom inherit 
            top 65px

        .item
            text-align: center

        h3
            padding 10px 30px
            color #707170
            border 1px solid #707170
            display inline-block
            border-radius 10px
            text-align center
            font-size 22px
            position relative
            margin-bottom: 50px

        a
            color #707170

        .vivo-sustentavel-carrossel-content
            background colorPurple
            color #FFF
            padding 20px 40px
            border-radius 20px
            font-size 16px
            text-align center
            max-width 500px
            margin: 0 auto

            a
                color colorPink


.text-expansive
    display: none

    &.open
        display: block


.section-vivo-sustentavel-box
    border 1px solid colorPink
    padding 0 30px 30px 30px
    text-align center
    max-width 1024px
    margin 0 auto
    border-radius 20px
    

    h2
        color colorPink
        display inline-block
        border 1px solid colorPink
        padding 10px 80px
        border-radius 10px
        position relative
        background #FFF
        top -30px


.section-pilares
    text-align center
    padding 50px 0

    h2
        margin-bottom: 10px


.box-btn
    background colorPurple
    padding 10px 40px
    display inline-block
    color #FFF
    border-radius 15px
    font-size 18px

    @media(max-width 960px)
        br
            display none


.negocio-responsavel-section
    max-width 1024px
    margin 0 auto
    border 1px solid colorPink
    padding: 30px 30px
    border-radius 20px

    .title-negocio-responsavel
        text-align: center
        margin-top: -60px

    h2
        color #FFF
        margin-bottom 40px
        background: colorPurple
        font-size: 35px
        font-family: "Roboto Bold";
        padding: 20px 60px
        cursor: inherit

        &:hover
            background: colorPurple
            color #FFF

    
    .negocio-responsavel-list
        display flex
        justify-content center
        flex-wrap wrap

        small
            display: block

        

        .negocio-responsavel-item
            width calc(33.3333% - 20px)
            margin-bottom 40px
            margin-left: 10px
            margin-right: 10px

            @media(max-width 960px)
                width 100%

            ul
                padding-left 50px
                padding-top 20px
                font-size 18px

                @media(max-width 960px)

                    br
                        display none


        h3
            a
                display flex
                font-size 18px

            .negocio-responsavel-item-text
                display inline-block
                background colorPurple
                color #FFF
                padding 10px 30px
                border-radius 25px
                position relative
                left -10px

                @media(max-width 960px)
                    display block
                    width 100%
                    left -15px

            .negocio-responsavel-item-number
                height 43px
                width 43px
                border 1px solid colorPurple
                color colorPurple
                display flex
                align-items center
                justify-content center
                border-radius 50%
                position relative
                z-index 10
                background #FFF




.modal {
    position: fixed;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    display: none;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(102, 15, 153, 0.8);
    z-index: 10;
}
.modal > div {
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    width: 1100px;
    height: 630px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
}
@media only screen and (max-width: 500px) {
    .modal > div {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 30px;
        height: 80%;
    }
}
@media only screen and (min-width: 500px) and (max-width: 1280px) {
    .modal > div {
        margin: 30px;
    }
}
.modal__content__left {
    background: #f3f3f3;
    border-radius: 10px 0 0 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.modal__image {
    background: #99cc34;
    width: 250px;
    height: 250px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 10px 0 0 0;
}

.modal__image img{
    border-radius: 15px 0 0 0
}
@media only screen and (max-width: 500px) {
    .modal__image {
        width: 100%;
        height: 130px;
        margin-top: 50px;
        border-radius: 0;
    }
}

.modal__content__rigth {
    padding: 50px;
    background: #FFF
}
@media only screen and (max-width: 500px) {
    .modal__content__rigth {
        padding: 30px;
        margin-bottom: 50px;
        height: 300px;
        overflow-x: scroll;
    }
}
.modal__title {
    color: #660f99;
    font-size: 30px;
    font-weight: 700;
}
.modal__subtitle {
    font-size: 18px;
    margin: 20px 0;
    line-height: 1.2;
    font-weight: bold;
}
.modal__text {
    font-family: "Roboto";
    line-height: 1.3;
    font-size: 18px;
    margin-bottom: 20px;
    color: #4c4c4c;
}
.modal__text strong {
    font-weight: bold;
}
.modal__text a {
    text-decoration: underline;
    color: #4c4c4c;
}
.modal__text a:hover {
    text-decoration: none;
}
.modal__controller {
    color: #660f99;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    padding: 30px 20px;
    gap: 60px;
}
@media only screen and (max-width: 500px) {
    .modal__controller {
        padding: 15px 30px;
        width: calc(100% - 60px);
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -o-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        background: #f3f3f3;
        border-radius: 0 0 15px 15px;
    }
}
.modal__controller > div {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
}


.modal__close {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}
@media only screen and (max-width: 500px) {
    .modal__close {
        top: 15px;
        right: 15px;
    }
}
.modal__controler--rigth {
    -webkit-box-align: end;
    -moz-box-align: end;
    -o-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    overflow-y: auto;
}
.visible {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
}
.modal.visible .js-modal {
    -webkit-animation: modal 0.25s;
    -moz-animation: modal 0.25s;
    -o-animation: modal 0.25s;
    -ms-animation: modal 0.25s;
    animation: modal 0.25s;
}

#modal-odds
    .close-modal
        right 0
        top 0
        z-index 99

    .modal-odds-box
        display: flex
        border-radius: 20px
        overflow: hidden
        height: 100%

    .modal-content
        width: 90%
        max-width: 1280px
       

    .owl-dots
        display: none
    
    .owl-carousel
        padding-bottom: 0

        .owl-stage
            display: flex;
        
        .owl-item
            display: flex;
            flex: 1 0 auto;

        .caption
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
        
        .flex-text
            flex-grow: 1
        
        .item
            display: flex;
            flex-direction: column;
            height: 100%